


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #333;
  padding: 20px;
  color: white;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.App-header nav ul li {
  margin: 0 15px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.Hero-section {
  background-color: #f4f4f4;
  padding: 50px 20px;
}

.Hero-section h2 {
  font-size: 2.5em;
}

.Hero-section p {
  font-size: 1.2em;
}

.Hero-section button {
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.Services-section {
  padding: 50px 20px;
}

.Services-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.Service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Service-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: left;
}

.Service-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.Service-card h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.Service-card p {
  font-size: 1em;
  color: #555;
}
.Location-section p {
  font-size: 1.2em;
}

.App-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}